@charset "UTF-8";
h1 {
	height: 143px;
	background: url("../imgs/h1back3.jpg") no-repeat;
}
h1 div {
	font-size: 65px;
	color: #FFF;
	font-weight: normal;
	float: right;
	position: relative;
	top: 110px;
	right: 10px;
}
aside {
	float: left;
	width: 175px;
	margin: 30px 0 0 0;
	background: url("../imgs/aside_vline.png") no-repeat right 48px;
}
aside h3 {
	height: 52px;
	position: relative;
	left: 5px;
	width: 180px;
	background: url("../imgs/aside_h3_back.png") no-repeat left bottom;
}
aside h3 div {
	background: #000;
	color: #FFF;
	font-size: 22px;
	text-align: center;
	padding: 17px 0;
}
aside ul {
	list-style: none;
	margin: 20px 0 0 0;
}
aside ul li a {
	display: block;
	padding: 20px 0;
	text-align: center;
	color: #252525;
	font-size: 14px;
	taransition: all 0.1s ease-in-out;
}
aside:hover ul li a {
	color: rgba(0, 0, 0, 0.2);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
aside ul li a:hover {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	color: #252525;
	font-size: 1.4em;
}
article {
	float: left;
	width: 700px;
	padding: 20px;
}
article h2 {
	font-size: 30px;
	margin: 10px 0 30px 0;
}
article article#gallery figure {
	float: left;
	margin: 10px;
}
article article#gallery figure img {
	width: 200px;
	height: auto;
	border: 1px solid #999;
	outline: 2px solid #fff;
	box-shadow: 3px 3px 10px #999;
}
article article#gallery figcaption {
	text-align: center;
	font-size: 1.2em;
	height: 115px;
	padding: 10px 0;
	margin-top: -138px;
	color: #fff;
	opacity: 0.1;
	transition: all 0.5s ease-in-out;
}
article article#gallery figure:hover figcaption {
	opacity: 1;
	background: rgba(0, 0, 0, 0.5);
}
#page {
	width: 700px;
	text-align: center;
}
#page ul.paging {
	list-style: none;
}
#page ul.paging li {
	display: inline-block;
}
#page ul.paging li a {
	display: block;
	padding: 2px 5px;
	margin: 0 5px;
	border: 1px solid #CCC;
}
#page ul.paging li a:hover {
	background: skyblue;
	color: #FFF;
}
.btn {
	float: right;
}
.btn a {
	display: block;
	font-size: 1.2em;
	color: #FFF;
	background: #8BB7E9;
	width: 80px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}
.btn a:hover {
	color: #8bb7e9;	
	background: #fff;
	border: 1px solid #8bb7e9;
}
#imgBG {
	border: 1px solid skyblue;
	width: 500px;
}































