@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	font-size: 16px;
}
li { list-style: none; }
body {
	width: 1250px;
	margin: 0 auto;
	background: #E6E6E6;
}
#page-wrapper {
	background: white;
	margin: 15px 0;
	padding: 10px 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px gray;
	overflow: auto;
}
#webBoard-datas {
	border-collapse: collapse;
	border: 1px soild #CCC;
	width: 500px;
	margin: 50px auto;
}
#webBoard-datas th, #webBoard-datas td {
	border: 1px solid #333;
	text-align: center;
	height: 35px;
}
#webBoard-datas td:nth-child(2) {
	text-align: left;
	padding-left: 10px;
}
#page-Info {
	text-align: center;
}