@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}
li { list-style: none; }
body {
	width: 1250px;
	margin: 0 auto;
	background: #E6E6E6;
}
#page-wrapper {
	background: white;
	margin: 15px 0;
	padding: 10px 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px gray;
	overflow: auto;
}
.webInfo, .myInfo {
	width: 125px;
	height: 30px;
	font-size: 20px;
	background-color: #333;
	color: white;
	float: left;
	text-align: center;
}
.myInfo {
	margin-right: 10px;
}
#menu-bar {
	width: 97px;
	height: 30px;
	font-size: 20px;
	background-color: #333;
	color: white;
	float: left;
	text-align: center;
}
.webInfo:hover, .myInfo:hover {
	background-color: red;
	cursor: pointer;
}