@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}
li { list-style: none; }
body {
	width: 1250px;
	margin: 0 auto;
	background: #E6E6E6;
}
#page-wrapper {
	background: white;
	margin: 15px 0;
	padding: 10px 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px gray;
	overflow: auto;
}
#join-from {
	text-align: center;
}
form {
	display: inline-block;
	margin: 100px 0;
	text-align: left;
}
#join-from-data {
	border-collapse: collapse;
	border: 1px solid black;
	line-height: 25px;
}
#join-from-data tr td {
	width: 135px;
}
#join-from-data tr:last-child {
	text-align: center;
}






